html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  font-family: 'Source Code Variable', 'consolas', 'verdana';
  font-size: 1.4rem;
  color: $lime;
  background: $dark;
  text-align: center;
}

a {
  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active {
    text-decoration: none;
  }
}

.btn {
  border-radius: .5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: $lime;
  display: inline-block;
  margin-top: .5rem;
  padding: .5rem 1rem;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background: $blue;
  }
}

button {
  background: inherit;
  color: inherit;
  border-radius: .3rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

.wrap {
  @include w;
  min-width: 32rem;
}

#pageTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  flex: 1 1 100%;
  margin: 1rem 0;
  color: $blue;
}